[buildout]
parts = spaceapi supervisor
extends = versions.cfg
versions = versions

allow-picked-versions = true
show-picked-versions = true
newest = false

[spaceapi]
recipe = zc.recipe.egg
eggs =
    pyzmq
extra-paths = ${buildout:directory}/src
interpreter = py
entry-points = spaceapi=spaceapi:run

